<%- include("header") -%>

<h2>You have found the secret about page</h2>

<p>
  This little project was built by me (Faiyad c:). I am writing this before I
  start on the actual functionality of the app and I gurantee once I finish that
  I will forget to update this. If you're reading this, I have forgotten but
  worry not one day I will look back and finish this up :)
</p>

<%- include("footer") -%>
